#addpreschooler p.label{
    margin-left:20px;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-decoration: underline;
}

table tr td > tr > td {
    width: 300px;
}

#preschooler label p.name, p.surname {
    margin-left:20px;
    padding-top:10px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

#preschooler input.name, input.surname{
    margin-top:10px;
    width: 250px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#preschooler label.choose{
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#preschooler label.group{
    margin-left:20px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

#preschooler select.listgroup{
    margin-top:20px;
    margin-left:60px;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#preschooler #savepreschooler{
    margin-top:40px;
    margin-bottom:20px;
    width: 258px;
    height: 30px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#preschooler label p.message{
    margin-left: 230px;
    font-size: 13px;
    font-weight:bold;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: red;
}