#addfull p.label{
    margin-left:20px;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-decoration: underline;
}

table tr td > tr > td {
    width: 300px;
}

#full label p.name {
    margin-left:20px;
    padding-top:10px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

#full input.name{
    margin-top:10px;
    width: 350px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#full #savemeal, #saveactivity, #savestay{
    margin-top:20px;
    margin-bottom:20px;
    width: 358px;
    height: 30px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#full p.message{
    margin-left: 330px;
    font-size: 13px;
    font-weight:bold;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: red;
}