#addemployee p.label{
    margin-left:20px;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-weight:bold;
    text-decoration: underline;
}

table tr td > tr > td {
    width: 300px;
}

#employee label p.name, p.surname, p.userrole {
    margin-left:20px;
    padding-top:10px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

#employee input.name, input.surname{
    margin-top:10px;
    width: 250px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#employee input.role, input.role1, input.role2{
    margin-top:15px;
    margin-right: 10px;
}

#employee label.choose{
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#employee #teacher label.group{
    margin-left:20px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

#employee #teacher select.listgroup{
    margin-top:20px;
    margin-left:60px;
    font-size: 13px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

#employee #saveemployee{
    margin-top:40px;
    margin-bottom:20px;
    width: 258px;
    height: 30px;
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}