#logout {
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: #082567;
    height:20px;
}

#logout p {
    text-align: right;
    padding-right: 75px;
}

#logout a {
    padding-right: 0px;
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #082567;
    font-weight:bold;
    text-decoration: none;
}

#logout a:hover {
    color: red;
}