<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LowFinancialAccounting</title>
    <link rel="stylesheet" href="../../admincontroller/employee/addemployee.css">
    <link rel="stylesheet" href="../../logout/logout.css">
    <link rel="stylesheet" href="../../menu/topmenu.css">
    <link rel="stylesheet" href="../../head/head.css">
    <link rel="stylesheet" href="../../foot/foot.css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<th:block th:if="${employee.role=='TEACHER'}">
    <script>
        function role(){
        document.getElementById('teacher').style.display='block'
        }
    </script>
</th:block>
<th:block th:unless="${employee.role=='TEACHER'}">
    <script>
        function role(){
        document.getElementById('teacher').style.display='none'
        }
    </script>
</th:block>
<body onload="role()">
<div id="all">
    <div id="signout">
        <div th:replace="logout.html::logout"></div>
    </div>
    <div id="head">
        <div th:replace="head/head.html::head"></div>
    </div>
    <div id="loginemployee">
        <p th:text="${'Zalogowany pracownik: '+employeeLogged}"></p>
    </div>
    <div th:replace="menu/topmenu.html::topmenu"></div>
    <div id="addemployee">
        <p class="label">Moje dane</p>
        <form action="../../admincontroller/employee/aboutMeE" method="post">
        <table id="employee">
            <tr>
                <td style="width: 225px;"><label><p class="name">Imię: </p></label></td>
                <td><input type="text" required autocomplete="off" placeholder="imię" class="name" disabled
                           th:field="*{employee.name}"></td>
            </tr>
            <tr>
                <td><label><p class="surname">Nazwisko: </p></label></td>
                <td><input type="text" required autocomplete="off" placeholder="nazwisko" class="surname" disabled
                           th:field="*{employee.surname}"></td>
            </tr>
            <tr>
                <td><label><p class="userrole">Rodzaj uprawnień:</p></label></td>
                <td>
                    <th:block th:if="${employee.role=='TEACHER'}">
                        <input disabled type="radio" name="role" class="role" value="teacher" onclick="document.getElementById('teacher').style.display='block';" checked><label class="choose">Nauczyciel</label>
                        <input disabled type="radio" name="role" class="role1" value="account" onclick="document.getElementById('teacher').style.display='none';"><label class="choose">Księgowa</label>
                        <input disabled type="radio" name="role" class="role2" value="admin" onclick="document.getElementById('teacher').style.display='none';"><label class="choose">Administrator</label>
                    </th:block>
                    <th:block th:if="${employee.role=='ACCOUNT'}">
                        <input disabled type="radio" name="role" class="role" value="teacher" onclick="document.getElementById('teacher').style.display='block';"><label class="choose">Nauczyciel</label>
                        <input disabled type="radio" name="role" class="role1" value="account" onclick="document.getElementById('teacher').style.display='none';" checked><label class="choose">Księgowa</label>
                        <input disabled type="radio" name="role" class="role2" value="admin" onclick="document.getElementById('teacher').style.display='none';"><label class="choose">Administrator</label>
                    </th:block>
                    <th:block th:if="${employee.role=='ADMIN'}">
                        <input disabled type="radio" name="role" class="role" value="teacher" onclick="document.getElementById('teacher').style.display='block';"><label class="choose">Nauczyciel</label>
                        <input disabled type="radio" name="role" class="role1" value="account" onclick="document.getElementById('teacher').style.display='none';"><label class="choose">Księgowa</label>
                        <input disabled type="radio" name="role" class="role2" value="admin" onclick="document.getElementById('teacher').style.display='none';" checked><label class="choose">Administrator</label>
                    </th:block>
                    <th:block th:if="${employee.role=='SUPER_ADMIN'}">
                        <input type="radio" name="role" class="role" value="teacher" onclick="document.getElementById('teacher').style.display='block';" disabled><label class="choose">Nauczyciel</label>
                        <input type="radio" name="role" class="role1" value="account" onclick="document.getElementById('teacher').style.display='none';" disabled><label class="choose">Księgowa</label>
                        <input type="radio" name="role" class="role2" value="admin" onclick="document.getElementById('teacher').style.display='none';" disabled><label class="choose">Administrator</label>
                    </th:block>
                </td>
            </tr>

            <tr>
                <td style="width: 225px;"><label><p class="name">Login: </p></label></td>
                <td><input type="text" required autocomplete="off" placeholder="imię" class="name"
                           th:field="*{employeeLogin.login}"></td>
            </tr>
            <tr>
                <td></td><td><label><p style="margin-left:0px" class="message" th:text="${message}"></p></label></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="margin-top: 10px; margin-bottom: 10px" type="submit" value="ZAPISZ ZMIANY" id="saveemployee" name="save">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input style="margin-top: 10px" type="submit" value="NIE ZAPISUJ ZMIAN" id="saveemployee1" name="return">
                </td>
            </tr>
        </table>
        </form>
    </div>
    <div th:replace="foot/foot.html::foot"></div>
</div>
</body>

<script>

</script>

</html>