<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LowFinancialAccounting</title>
</head>
<body>
    <div id="topmenu" th:fragment="topmenu">
        <div id="intopmenu">
            <ul>
                <li><a href="">Pracownicy</a>
                    <ul>
                        <li><a href="/admincontroller/employee/addemployee.html">Dodaj pracownika</a></li>
                        <li><a href="#2">Usuń pracownika</a></li>
                        <li><a href="#3">Zmień uprawnienia</a></li>
                    </ul>
                </li>
                <li><a href="">Grupy przedszkolne</a>
                    <ul>
                        <li><a href="#1">Dodaj grupę</a></li>
                        <li><a href="#2">Edytuj grupę</a></li>
                        <li><a href="#3">Usuń grupę</a></li>
                    </ul>
                </li>
                <li><a href="">Przedszkolaki</a></li>
                <li><a href="">Wyżywienie</a></li>
                <li><a href="">Zajęcia dodatkowe</a></li>
                <li><a href="">Pobyt</a></li>
                <li><a href="">Rozliczenie</a></li>
                <li><a href="">Faktury</a></li>
            </ul>
        </div>
    </div>
</body>
</html>