<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LowFinancialAccounting</title>
</head>
<body>
    <div id="topmenu" th:fragment="topmenu">
        <div id="intopmenu">
            <ul>
                <li><a href="#">Pracownicy</a>
                    <ul>
                        <li><a href="../../admincontroller/employee/addemployee">Dodaj pracownika</a></li>
                        <li><a href="#2">Usuń pracownika</a></li>
                        <li><a href="#3">Zmień uprawnienia</a></li>
                    </ul>
                </li>
                <li><a href="#">Grupy przedszkolne</a>
                    <ul>
                        <li><a href="../../admincontroller/grouppreschooler/addgroup">Dodaj grupę</a></li>
                        <li><a href="#2">Edytuj grupę</a></li>
                        <li><a href="#3">Usuń grupę</a></li>
                    </ul>
                </li>
                <li><a href="#">Przedszkolaki</a>
                    <ul>
                        <li><a href="../../admincontroller/preschooler/addpreschooler">Dodaj przedszkolaka</a></li>
                        <li><a href="#2">Edytuj przedszkolaka</a></li>
                        <li><a href="#3">Usuń przedszkolaka</a></li>
                    </ul>
                </li>
                <li><a href="#">Wyżywienie</a>
                    <ul>
                        <li><a href="../../admincontroller/meals/full">Dodaj wyżwienie całodzienne (dieta)</a></li>
                        <li><a href="../../admincontroller/meals/single">Dodaj pojedyncze wyżywienie</a></li>
                        <li><a href="#3">Usuń wyżywienie całodzienne (dieta)</a></li>
                    </ul>
                </li>
                <li><a href="#">Zajęcia dodatkowe</a>
                    <ul>
                        <li><a href="../../admincontroller/meals/activity">Dodaj zajęcia</a></li>
                        <li><a href="#2">Edytuj zajęcia</a></li>
                        <li><a href="#3">Usuń zajęcia</a></li>
                    </ul>
                </li>
                <li><a href="#">Pobyt</a>
                    <ul>
                        <li><a href="../../admincontroller/meals/stay">Dodaj pobyt</a></li>
                        <li><a href="#2">Edytuj pobyt</a></li>
                        <li><a href="#3">Usuń pobyt</a></li>
                    </ul>
                </li>
                <li><a href="#">Rozliczenie</a></li>
                <li><a href="#">Faktury</a></li>
            </ul>
        </div>
    </div>
</body>
</html>