<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LowFinancialAccounting</title>
</head>
<body>
    <div id="topmenu" th:fragment="topmenu">
        <div id="intopmenu">
            <ul>
                <li><a href="#">Pracownicy</a>
                    <ul>
                        <li><a href="../../admincontroller/employee/addemployee">Dodaj pracownika</a></li>
                        <li><a href="../../admincontroller/employee/employee">Moduł zarządzania pracownikami</a></li>
                    </ul>
                </li>
                <li><a href="#">Grupy przedszkolne</a>
                    <ul>
                        <li><a href="../../admincontroller/grouppreschooler/addgroup">Dodaj grupę przedszkolną</a></li>
                        <li><a href="../../admincontroller/grouppreschooler/group">Moduł zarządzania grupami przedszkolnymi</a></li>
                    </ul>
                </li>
                <li><a href="#">Przedszkolaki</a>
                    <ul>
                        <li><a href="../../admincontroller/preschooler/addpreschooler">Dodaj przedszkolaka</a></li>
                        <li><a href="../../admincontroller/preschooler/preschoolerVED">Moduł zarządzania przedszkolakiem</a></li>
                        <li><a href="../../admincontroller/preschooler/parent">Moduł zarządzania dodanymi opiekunami prawnymi</a></li>
                    </ul>
                </li>
                <li><a href="#">Wyżywienie</a>
                    <ul>
                        <li><a href="../../admincontroller/meals/full">Dodaj dietę</a></li>
                        <li><a href="../../admincontroller/meals/fullE">Moduł zarządzania dodanymi dietami</a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/meals/single">Dodaj pojedynczy posiłek</a></li>
                        <li><a href="../../admincontroller/meals/singleE">Moduła zarządzania pojedynczymi posiłkami </a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/meals/fullselectgroup">Liczba zjedzonych posiłków</a></li>
                        <li><a href="../../admincontroller/meals/fullselectgroupE">Edycja zjedzonych posiłków</a></li>
                        <li><a href="../../admincontroller/meals/fullmonthVD">Podgląd/usunięcie liczby wprowadzonych posiłków</a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/meals/singleselectgroup">Liczba zjedzonych pojedynczych posiłków</a></li>
                        <li><a href="../../admincontroller/meals/singleselectgroupE">Edycja zjedzonych pojedynczych posiłków</a></li>
                        <li><a href="../../admincontroller/meals/singlemonthVD">Podgląd/usunięcie liczby wprowadzonyh pojedynczych posiłków</a></li>
                    </ul>
                </li>
                <li><a href="#">Zajęcia dodatkowe</a>
                    <ul>
                        <li><a href="../../admincontroller/activity/activity">Dodaj nowe zajęcia</a></li>
                        <li><a href="../../admincontroller/activity/activityE">Moduła zarządzania dodanymi zajęciami</a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/activity/activityselectgroup">Przydziel zajęcia przedszkolakowi</a></li>
                        <li><a href="../../admincontroller/activity/activityselectgroupE">Zarządzaj przydzielonymi zajęciami</a></li>
                    </ul>
                </li>
                <li><a href="#">Pobyt
                </a>
                    <ul>
                        <li><a href="../../admincontroller/stay/stay">Dodaj pobyt</a></li>
                        <li><a href="../../admincontroller/stay/stayE">Moduł zarządzania dodanym pobytem</a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/stay/stayselectgroup">Przypisz pobyt</a></li>
                        <li><a href="../../admincontroller/stay/stayselectgroupE">Edytuj przypisany pobyt</a></li>
                        <li><a href="../../admincontroller/stay/staymonthVD">Podgląd/usunięcie przypisanego pobytu</a></li>
                    </ul>
                </li>
                <li><a href="#">Rozliczenie</a>
                    <ul>
                        <li><a href="../../admincontroller/payment/paymentselectgroup">Moduł zarządzania wpłatami</a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/settlement/selectgroup">Pokaż naliczone opłaty przedszkolaka</a></li>
                        <li><a href="../../admincontroller/balance/balance">Miesięczne saldo</a></li>
                        <li><div style="width:215px; height:1px;border-bottom: 1px dashed blue"></div></li>
                        <li><a href="../../admincontroller/email/send">Wyślij rozliczenie</a></li>
                        <li><a href="../../admincontroller/print/print">Drukuj rozliczenie</a></li>
                    </ul>
                </li>
                <li><a href="#">Inne</a>
                    <ul>

                        <li><a href="../../admincontroller/employee/aboutMe">Moje dane</a></li>
                        <li><a href="../../admincontroller/company/company">Modyfikuj dane firmy</a></li>
                        <li><a href="../../admincontroller/copy/copyForGroup">Moduł kopiowania danych dla grupy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>