<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LowFinancialAccounting</title>
    <link rel="stylesheet" href="../../admincontroller/body/body.css">
    <link rel="stylesheet" href="../../logout/logout.css">
    <link rel="stylesheet" href="../../menu/topmenu.css">
    <link rel="stylesheet" href="../../head/head.css">
    <link rel="stylesheet" href="../../foot/foot.css">
</head>

<body>
<div id="all">
    <div id="signout">
        <div th:replace="logout.html::logout"></div>
    </div>
    <div id="head">
        <div th:replace="head/head.html::head"></div>
    </div>
    <div id="loginemployee">
        <p th:text="${'Zalogowany pracownik: '+employeeLogged}"></p>
    </div>
    <div th:replace="menu/topmenu.html::topmenu"></div>
    <div id="addfull">
        <p class="label">Moduł podglądu/usuwania wprwadzonej miesięcznej ilości posiłków całodziennych</p>
        <form action="../../admincontroller/meals/fullmonthVD" method="post">
            <label><p class="message" th:text="${message}"></p></label>
            <label><p class="messageOK" th:text="${messageOK}"></p></label>

            <div id="full">
            <div style="float:left">
            <table>
                <tr>
                    <td><label><p class="name" th:text="${'Miesiąc podglądu: '}"></p></label></td>
                </tr>
                <tr>
                    <td>
                        <select required name="choose1" path="orderId" id="list00settlement">
                            <option value="">Wybierz miesiąc podglądu</option>
                            <option th:each="listMonth:${listMonth}"
                                    th:value="${listMonth}"
                                    th:text="${listMonth}"
                                    th:selected="${listMonth==month}">

                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label><p class="name" th:text="${'LISTA GRUP'}"></p></label></td>
                </tr>
                <tr>
                    <td><select required name="choose" path="orderId" id="list0Activity" >
                        <option value="">Wybierz grupę</option>
                        <option th:each="group: ${listPreschoolGroup}"
                                th:value="${group.id}"
                                th:text="${group.nameGroup}"
                                th:selected="${group.nameGroup==nameGroup}">
                        </option>
                    </select></td>
                </tr>
                <tr>
                    <td><input type="submit" value="POKAŻ DANE" id="showSettlement" name="show"></td>
                </tr>
            </table>
            </div>
            <div>
            <table border="1" rules="all" frame="void" style="margin-bottom: 40px">
                <tr>
                    <td colspan="7"><label><p class="name" th:text="${'WPROWADZONA MIESIĘCZNA LICZBA POSIŁKÓW CAŁODZIENNYCH'}"></p></label></td>
                </tr>
                <tr style="background-color:#87CEFA; font-weight: bold">
                    <td class="colTableName" style="width: 200px" th:text="${'Nazwisko i imię'}"></td>
                    <td class="colTable" style="width: 150px" th:text="${'Nazwa diety'}"></td>
                    <td class="colTable" th:text="${'I Ś'}"></td>
                    <td class="colTable" th:text="${'II Ś'}"></td>
                    <td class="colTable" th:text="${'O'}"></td>
                    <td class="colTable" th:text="${'P'}"></td>
                    <td class="colTable" style="width: 100px"th:text="${'Opcje'}"></td>
                </tr>

                <th:block th:each="fullMealPreschooler: ${fullMealAllPreschoolers}">
                    <tr style="background-color:#F0F8FF;">
                        <td class="colTableName" th:text="${fullMealPreschooler.preschooler.surname+' '+fullMealPreschooler.preschooler.name}"></td>
                        <td class="colTable" th:text="${fullMealPreschooler.nameDiet}"></td>
                        <td class="colTable" th:text="${fullMealPreschooler.numberFirstBreakfast}"></td>
                        <td class="colTable" th:text="${fullMealPreschooler.numberSecondBreakfast}"></td>
                        <td class="colTable" th:text="${fullMealPreschooler.numberDinner}"></td>
                        <td class="colTable" th:text="${fullMealPreschooler.numberTea}"></td>
                        <td class="colTable"><a th:href=${'/admincontroller/meals/fullmonthVD/'+fullMealPreschooler.id}>edytuj</a>
                            &nbsp|&nbsp<a th:href=${'/admincontroller/meals/fullmonthVD/D/'+fullMealPreschooler.id}>usuń</a></td>
                    </tr>
                </th:block>
                <tr rowspan="2">
                    <td colspan="7" class="colTable"><p th:text="${'I Ś - miesięczna liczba pierwszych śniadań, II Ś - miesięczna liczba II śniadań'}"></p>
                    <p th:text="${'O - miesięczna liczba obiadów, P - miesięczna liczba podwieczorków'}"></p>
                    </td>
                </tr>
            </table>
            </div>
            </div>
        </form>
    </div>
    <div id="footer" style="display: block; clear: left" >
    <div th:replace="foot/foot.html::foot"></div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>